.footer {
    text-align: center;
    padding: 60px;
    background-color: pink;
}

.footer a {
    font-size: 30px;
    color: purple;
}

.footer p {
    color: #6B6C6C;
}

.footer .fas {
    color: #BF0F12;
}